@import '../../../styles/colors/colors.css';
@import '../../../styles/round-corners/round-corners.css';
@import '../../../styles/spacing/spacing.css';
@import '../../../styles/typography/typography.css';

.todo-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.list-icon-container {
  width: 100px;
  height: 100px;
}

.list-icon {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  fill: var(--dark-color);
  background: transparent;
}

.checklist-icon {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  fill: var(--gray-color);
  background: transparent;
}

.complete-button {
  width: 2rem;
  height: 2rem;
  padding: var(--spacing-xs);
  border-radius: var(--spacing-xs);
  display: flex;
  align-items: center;
  margin-right: var(--spacing-md);
  background-color: transparent;
}

.title-input {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: var(--round-corner-sm);
  border: none;
  font-family: var(--ff-serif);
  font-size: var(--fs-300);
}

.title-input[type="text"] {
  padding: var(--spacing-xs);
}

.title-input::placeholder {
  padding: var(--spacing-xs);
}