@import '../../../foundations/colors/colors.css';
@import '../../../foundations/round-corners/round-corners.css';
@import '../../../foundations/spacing/spacing.css';

.todo-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.todo-count {
  text-align: left;
  float: left;
}

.todo-filters {
  display: flex;
  list-style: none;
  padding: 0rem;
  gap: var(--spacing-xl);
}

.todo-filter {
  width: 5rem;
  padding: var(--spacing-xs);
  border-radius: var(--round-corner-sm);
  text-decoration: none;
  color: var(--tertiary-color);
  border: none;
  text-decoration: none;
}

.active {
  background-color: var(--tertiary-color);
  color: var(--white-color);
}
