@import '../../../styles/spacing/spacing.css';
@import '../../../styles/typography/typography.css';

.title {
    width: 100%;
    margin: 0 var(--spacing-sm) 0 var(--spacing-sm);
}

.EDITING .title {
    width: 90%;
}

.title-input {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: var(--spacing-sm);
    border: none;
    text-overflow: ellipsis;
    font-family: var(--ff-serif);
    font-size: var(--fs-300);
}

.true .title-input {
    text-decoration: line-through;
    color: green;
}
