@import '../../../styles/colors/colors.css';
@import '../../../styles/shadow/shadows.css';
@import '../../../styles/round-corners/round-corners.css';
@import '../../../styles/spacing/spacing.css';

.todo-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100vw - 2rem);
  max-width: 30rem;
  padding: var(--spacing-sm);
  margin: 0 var(--spacing-md) 0 var(--spacing-md);
  gap: var(--spacing-sm);
  box-shadow: var(--box-shadow-sm);
  background: var(--secondary-color);
  border-radius: var(--round-corner-sm);
}