@import '../../../foundations/colors/colors.css';

.todo-item {
    display: flex;
    justify-content: space-between;
    width: auto;
    max-height: 3rem;
    padding: 0.5rem;
    box-shadow: var(--dark-color) 0px 0px 0px 1px inset;
    background: var(--secondary-color);
}

form {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
}

.EDITING .checkbox {
    visibility: hidden;
}

.delete-button {
    visibility: hidden;
}

.todo-item:hover .delete-button {
    visibility: visible;
}
