body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.list-icon-container {
  width: 100px;
  height: 100px;
}

.list-icon {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  fill: white;
  stroke: white !important;
  stroke-width: 0.1;
  background: transparent;
}

.checklist-icon {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  fill: white;
  stroke: white !important;
  stroke-width: 0.1;
  background: transparent;
}

.complete-button {
  width: 3rem;
  height: 3rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  background-color: #ebb062;
}

.title-input {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 0.1rem;
  border: none;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.title-input[type="text"] {
  padding: 0.2rem;
}

.title-input::placeholder {
  padding: 0.2rem;
}