@import '../../../styles/colors/colors.css';
@import '../../../styles/shadow/shadows.css';
@import '../../../styles/spacing/spacing.css';

.todo-item {
    display: flex;
    justify-content: space-between;
    width: auto;
    max-height: 3rem;
    padding: var(--spacing-sm);
    box-shadow: var(--box-shadow-sm);
    background: var(--secondary-color);
}

form {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
}

.EDITING .checkbox {
    visibility: hidden;
}

.delete-button {
    visibility: hidden;
    margin-left: var(--spacing-xs);
}

.todo-item:hover .delete-button {
    visibility: visible;
}
