@import 'foundations/colors/colors.css';

.App {
  text-align: center;
  background-color: var(--primary-color);
  min-height: 100vh;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* font-size: calc(10px + 2vmin); */
}
