body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.todo-count {
  text-align: left;
  float: left;
}

.todo-filters {
  display: flex;
  list-style: none;
  padding: 0rem;
  gap: 2rem;
}

.todo-filter {
  width: 5rem;
  padding: 0.4rem;
  border-radius: 0.2rem;
  text-decoration: none;
  color: #bb3385;
  border: none;
}

.active {
  background-color: #bb3385;
  color: #FFFFFF;
}
